services:
  frontend-dev:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "4200:4200"
    develop:
      watch:
        - action: sync
          path: .
          target: /app

  frontend-test:
    build:
      context: .
      dockerfile: Dockerfile.dev
    command: ["npm", "run", "test"]

  frontend-prod:
    build:
      context: .
      dockerfile: Dockerfile
    image: nathalia
    ports:
      - "8080:8080"
