services:

  frontend-dev:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "4200:4200"
    develop:
      watch:
        - action: sync
          path: .
          target: /app

  frontend-test:
    build:
      context: .
      dockerfile: Dockerfile.dev
    pull_policy: build
    command: ["npm", "run", "test"]
